<!doctype html>
<html lang="{{ site.locale | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0;url={{ page.redirect }}">
    <meta name="robots" content="noindex">
    <link rel="canonical" href="{{ page.redirect | absolute_url }}">
    <script>
      window.location.replace("{{ page.redirect }}");
    </script>
    <title>Page Redirection</title>
  </head>
  <body>
    If you are not redirected automatically, follow <a href="{{ page.redirect }}">this link</a>.
  </body>
</html>
